In [19]:
import xgboost as xgb
from xgboost import XGBClassifier
#import lightgbm as lbm
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_predict

### Feature importance 

|model/features|top features||
|---|---|---|
|xgb + num only|weight,image_width, price, image_height, images_countn,year||
|xgb + shoes|price, weight,image_width,image_height,shoe_size,image_height ||
||||

|model|cv|submission|
|---|---|---|
|xgb + only num|1.038051||
|xgb + only num (+condition)|1.037834|?|
|xgb + only num (+condition, feats_to_remove)|1.037588|1.05475|
|xgb + shoes/comp(feats_to_remove) |0.870668/1.040262|1.05666|
|xgb + shoes/comp(+condition, feats_to_remove) |0.865981/1.036923|1.05582|
|xgb + only num (+fe)|1.03424|1.05282|
|xgb + tfidf200|1.053205|1.06754|
|xgb + tfidf200 + fe|1.042723|1.06109|
|xgb(es = 20) + tfidf200 (prod desc)|1.024326|1.05221|
|xgb(es = 100) + tfidf200 (prod desc)|0.927637|1.02822|
|xgb(es = 300) + tfidf200 (prod desc)|0.833815|1.02947|
|xgb(es = 150) + tfidf200 (prod desc/categories)|0.896901|1.02672|
|xgb(es = 150) + tfidf200 (prod desc/categories) + fe|0.8271|0.98030|
||||

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
pd.set_option('display.max_columns', 500)

X_train = pd.read_csv("data/X_train.csv", index_col=0, error_bad_lines=False)
X_test = pd.read_csv("data/X_test.csv", index_col=0, error_bad_lines=False)
y_train = pd.read_csv("data/y_train.csv", index_col=0)

b'Skipping line 2168: expected 31 fields, saw 33\nSkipping line 4822: expected 31 fields, saw 37\nSkipping line 4859: expected 31 fields, saw 37\nSkipping line 7342: expected 31 fields, saw 37\n'

In [5]:
X_train.shape, X_test.shape, y_train.shape

((8880, 30), (2960, 30), (8880, 1))

In [26]:
X_test.head()

,images_count,image_width,image_height,image_url,product_description,product_size,material,age,warranty,year,color,product_width,wifi,condition,product_length,shoe_size,vintage,brand,author,editor,product_height,weight,price,category,sub_category_1,sub_category_2,sub_category_3,sub_category_4,product_name,store_name
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,1,616.0,616.0,https://d1kvfoyrif6wzg.cloudfront.net/assets/i...,<p><strong>Livre d'occasion écrit par Stephen ...,NaN,NaN,NaN,NaN,1999.0,NaN,NaN,NaN,bon état,NaN,NaN,NaN,NaN,Stephen King,J'Ai Lu,NaN,149.0,1.8,librairie,NaN,NaN,NaN,NaN,Peur bleue - Stephen King,Booki - la Librairie Solidaire de Retrilog
1,2,3000.0,4000.0,https://d1kvfoyrif6wzg.cloudfront.net/assets/i...,Eléguant haut transparent pour femme imprimé ...,XXL,polyester,NaN,NaN,NaN,Multicolore,NaN,NaN,bon état,NaN,NaN,False,Woman,NaN,NaN,NaN,100.0,3.0,mode,"tops, t-shirts, débardeurs femme",NaN,NaN,NaN,vêtement femme Woman,Emmaüs 88 Neufchateau
2,3,2448.0,2448.0,https://d1kvfoyrif6wzg.cloudfront.net/assets/i...,Collants bleu motifs en losange discret femme ...,NaN,"85 % polyamide, 15% élasthanne.",NaN,NaN,NaN,Bleu,NaN,NaN,neuf,NaN,NaN,False,KUNERT,NaN,NaN,NaN,200.0,3.0,mode,accessoires femme,label selection,NaN,NaN,Collants bleu motifs en losange discret femme ...,Emmaüs Sacré Dressing !
3,10,2448.0,2448.0,https://d1kvfoyrif6wzg.cloudfront.net/assets/i...,Un beau vase à couvercle en porcelaine\nde la ...,NaN,Porcelaine,NaN,NaN,NaN,Multicolore,NaN,NaN,bon état,NaN,NaN,NaN,Kaiser Porcelaine,NaN,NaN,NaN,2130.0,20.0,mobilier - deco,Vases et Pots,NaN,NaN,NaN,Vase à Couvercle,Emmaüs Vannes - la Boutique en ligne
4,3,2753.0,2974.0,https://d1kvfoyrif6wzg.cloudfront.net/assets/i...,Ancien Boulier d'écolier en bois . Les enfants...,NaN,NaN,NaN,NaN,NaN,Multicolore,NaN,NaN,en l'état,NaN,NaN,True,NaN,NaN,NaN,NaN,340.0,7.5,enfance,"jouets anciens, jouets en bois",NaN,NaN,NaN,Ancien Boulier d'écolier en bois,Emmaüs 88 Neufchateau

### model 2 : specific model for shoes and complementary

##### clf_shoes

In [47]:
clf_shoes = xgb.XGBClassifier(n_estimators = 10, 
                       learning_rate = 0.05,
                       max_depth=6,
                       n_jobs=1,
                       alpha = 0.1,objective='multi:softprob')
booster = xgb.Booster({'nthread': 4})  # init model
booster.load_model('shoes_model')  # load data
clf_shoes._Booster = booster

In [48]:
X_test_with_shoes= X_test[X_test.shoe_size.notnull()]  
X_test_with_shoes = X_test_with_shoes.select_dtypes(include=[np.number]) # only numeric
print(X_test_with_shoes.shape)
X_test_with_shoes.head()

(77, 10)

,images_count,image_width,image_height,year,product_width,product_length,shoe_size,product_height,weight,price
id,,,,,,,,,,
38,6,2448.0,2448.0,NaN,NaN,NaN,38.0,NaN,900.0,15.0
40,5,1536.0,1536.0,NaN,NaN,NaN,38.0,NaN,1000.0,8.0
164,2,1000.0,1000.0,NaN,NaN,NaN,35.0,NaN,1000.0,15.0
166,4,2448.0,2448.0,NaN,NaN,NaN,40.0,NaN,1000.0,25.0
281,5,2448.0,2448.0,NaN,NaN,NaN,37.0,NaN,800.0,9.0

In [55]:
pred_test = clf_shoes.predict_proba(X_test_with_shoes)
print(pred_test.shape)
pred_test[:5]

(77, 3)

array([[0.33888066, 0.43615112, 0.22496818],
       [0.27829602, 0.28051162, 0.4411923 ],
       [0.26315498, 0.30770168, 0.42914328],
       [0.35630164, 0.35496202, 0.28873634],
       [0.31248763, 0.45626172, 0.23125067]], dtype=float32)

In [56]:
X_test_with_shoes_preds = pd.DataFrame(pred_test, index=X_test_with_shoes.index)

##### clf_shoes_comp

In [57]:
clf_shoes_comp = xgb.XGBClassifier(n_estimators = 10, 
                       learning_rate = 0.05,
                       max_depth=6,
                       n_jobs=1,
                       alpha = 0.1,objective='multi:softprob')
booster = xgb.Booster({'nthread': 4})  # init model
booster.load_model('shoes_complementary_model')  # load data
clf_shoes_comp._Booster = booster

In [58]:
features = ['images_count', 'image_width', 'image_height', 'image_url',
       'product_description', 'product_size', 'material', 'age', 'warranty',
       'year', 'color', 'product_width', 'wifi', 'condition', 'product_length',
       'vintage', 'brand', 'author', 'editor', 'product_height',
       'weight', 'price', 'category', 'sub_category_1', 'sub_category_2',
       'sub_category_3', 'sub_category_4', 'product_name', 'store_name']
X_test_without_shoes= X_test[~X_test.shoe_size.notnull()][features]

X_test_without_shoes = X_test_without_shoes.select_dtypes(include=[np.number]) # only numeric
X_test_without_shoes.head()

,images_count,image_width,image_height,year,product_width,product_length,product_height,weight,price
id,,,,,,,,,
0,1,616.0,616.0,1999.0,NaN,NaN,NaN,149.0,1.8
1,2,3000.0,4000.0,NaN,NaN,NaN,NaN,100.0,3.0
2,3,2448.0,2448.0,NaN,NaN,NaN,NaN,200.0,3.0
3,10,2448.0,2448.0,NaN,NaN,NaN,NaN,2130.0,20.0
4,3,2753.0,2974.0,NaN,NaN,NaN,NaN,340.0,7.5

In [59]:
X_test_with_shoes.index

Int64Index([  38,   40,  164,  166,  281,  282,  385,  409,  416,  433,  478,
             492,  526,  630,  694,  744,  752,  769,  792,  858,  875,  911,
             912,  925,  946,  986, 1111, 1164, 1209, 1246, 1378, 1384, 1400,
            1403, 1426, 1449, 1512, 1536, 1627, 1828, 1857, 1885, 1905, 2010,
            2055, 2108, 2109, 2115, 2141, 2171, 2192, 2198, 2209, 2234, 2269,
            2359, 2393, 2440, 2448, 2451, 2454, 2457, 2476, 2558, 2567, 2598,
            2647, 2661, 2662, 2759, 2764, 2810, 2813, 2841, 2874, 2887, 2892],
           dtype='int64', name='id')

In [60]:
pred_test = clf_shoes_comp.predict_proba(X_test_without_shoes)

In [61]:
X_test_without_shoes_preds = pd.DataFrame(pred_test, index=X_test_without_shoes.index)

In [63]:
df_submission = pd.concat([X_test_with_shoes_preds,X_test_without_shoes_preds])
print(df_submission.shape)
df_submission.head()

(2960, 3)

            0         1         2
id
38   0.338881  0.436151  0.224968
40   0.278296  0.280512  0.441192
164  0.263155  0.307702  0.429143
166  0.356302  0.354962  0.288736
281  0.312488  0.456262  0.231251

### Model 4 :

In [6]:
def get_xgb_model(model_name):
    clf = xgb.XGBClassifier(n_estimators = 10, 
                       learning_rate = 0.05,
                       max_depth=6,
                       n_jobs=1,
                       alpha = 0.1,objective='multi:softprob')
    booster = xgb.Booster({'nthread': 4})  # init model
    booster.load_model(model_name)  # load data
    clf._Booster = booster
    return clf

##### clf_shoes

In [7]:
clf_shoes = get_xgb_model('shoes_model_v2')

In [8]:
features_clf_shoes = ['images_count', 'image_width', 'image_height', 'year', 'condition', 'shoe_size', 'weight', 'price']

In [11]:
X_test_shoes = X_test[~X_test.shoe_size.isnull()] # no shoes - rows
X_test_shoes = X_test_shoes[features_clf_shoes] # no shoes column
fix_condition(X_test_shoes)
predicted_shoes = clf_shoes.predict_proba(X_test_shoes)
df_submission_shoes = pd.DataFrame(predicted_shoes, index=X_test_shoes.index)

##### clf_shoes_comp

In [12]:
clf_shoes_comp = get_xgb_model('shoes_model_comp_v2')

In [13]:
features_clf_shoes_comp =  ['images_count', 'image_width', 'image_height', 'year', 'condition', 'weight', 'price']

In [15]:
X_test_without_shoes = X_test[X_test.shoe_size.isnull()] # no shoes - rows
X_test_without_shoes = X_test_without_shoes[features_clf_shoes_comp] # no shoes column
fix_condition(X_test_without_shoes)
predicted_without_shoes = clf_shoes_comp.predict_proba(X_test_without_shoes)
df_submission_without_shoes = pd.DataFrame(predicted_without_shoes, index=X_test_without_shoes.index)

##### concat predictions

In [16]:
df_submission = pd.concat([df_submission_shoes,df_submission_without_shoes])
print(df_submission.shape)
df_submission.head()

(2960, 3)

            0         1         2
id
38   0.331923  0.423186  0.244891
40   0.335251  0.403300  0.261448
164  0.255853  0.264907  0.479240
166  0.409436  0.329335  0.261229
281  0.378563  0.393604  0.227833

### Model 7

##### clf_shoes

In [21]:
clf_shoes = get_xgb_model('shoes_model_v2')
features_clf_shoes = ['images_count', 'image_width', 'image_height', 'year', 'condition', 'shoe_size', 'weight', 'price']

X_test_shoes = X_test[~X_test.shoe_size.isnull()] # no shoes - rows
X_test_shoes = X_test_shoes[features_clf_shoes] # no shoes column
fix_condition(X_test_shoes)
predicted_shoes = clf_shoes.predict_proba(X_test_shoes)
df_submission_shoes = pd.DataFrame(predicted_shoes, index=X_test_shoes.index)

##### clf_shoes_comp

In [ ]:
clf_shoes_comp = get_xgb_model('shoes_model_comp_v3')

In [ ]:
X_test_without_shoes = X_test[X_test.shoe_size.isnull()] # no shoes - rows
X_test_without_shoes.drop(['shoe_size'],axis=1,inplace=True)

In [ ]:
X_test_without_shoes['desc_wc'] = X_test_without_shoes['product_description'].apply(lambda text: len(text.split()))
X_test_without_shoes['desc_len'] = X_test_without_shoes['product_description'].apply(len)
X_test_without_shoes['wifi'] = pd.to_numeric(X_test_without_shoes['wifi'])
X_test_without_shoes['vintage'] = pd.to_numeric(X_test_without_shoes['vintage'])
X_test_without_shoes['has_desc']= X_test_without_shoes['product_description'].isnull().astype('int64')
X_test_without_shoes['has_author'] = X_test_without_shoes['author'].isnull().astype('int64')
X_test_without_shoes['has_editor'] = X_test_without_shoes['editor'].isnull().astype('int64')
X_test_without_shoes['has_brand'] = X_test_without_shoes['brand'].isnull().astype('int64')
fix_condition(X_test_without_shoes)

In [ ]:

X_test_without_shoes = vectorize_tfidf(X_test_without_shoes,'product_description','prod_desc',vectorizer,"test")
X_test_without_shoes['categories'] = X_test_without_shoes[categories].fillna('').apply(lambda x: ' '.join(x), axis=1)
X_test_without_shoes = vectorize_tfidf(X_test_without_shoes,'categories','cat',vectorizer2,"test")
X_test_without_shoes = X_test_without_shoes[X_train_num.columns] # no shoes column

In [ ]:
X_test_without_shoes = X_test_without_shoes.select_dtypes(include=[np.number])

predicted_without_shoes = clf_shoes_comp.predict_proba(X_test_without_shoes)
df_submission_without_shoes = pd.DataFrame(predicted_without_shoes, index=X_test_without_shoes.index)

### Submission

In [18]:
submit_prediction(df_submission, sep=',', index=True)

### functions

In [17]:
import io, math, requests

# Only works in Python3, see comment below for Python2
def submit_prediction(df, sep=',', **kwargs):
    # TOKEN to recover on the platform: "Submissions"> "Submit from your Python Notebook"
    TOKEN=''  
    URL='https://qscore.datascience-olympics.com/api/submissions'
    #buffer = io.BytesIO() # Python 2
    buffer = io.StringIO() # Python 3
    df.to_csv(buffer, sep=sep, **kwargs)
    buffer.seek(0)
    r = requests.post(URL, headers={'Authorization': 'Bearer {}'.format(TOKEN)},files={'datafile': buffer})
    if r.status_code == 429:
        raise Exception('Submissions are too close. Next submission is only allowed in {} seconds.'.format(int(math.ceil(int(r.headers['x-rate-limit-remaining']) / 1000.0))))
    if r.status_code != 200:
        raise Exception(r.text)

In [10]:
from sklearn import preprocessing
conditions = ['vide','autre','reconditionné','comme neuf','neuf','en l\'état','bon état']
le = preprocessing.LabelEncoder()
le.fit(conditions)

def fix_condition(df):
    df['condition'].fillna('vide',inplace=True)    
    df['condition'].apply(lambda x : x if x in conditions else 'autre')
    df['condition'] = le.transform(df['condition'])

In [22]:
import string
import re 
import itertools
import nltk
import operator
from bs4 import BeautifulSoup             
from nltk.corpus import stopwords
from nltk import pos_tag
from nltk.stem.snowball import FrenchStemmer 


def tokenizer(text, remove_stopwords=True, stemming=True, pos_tagging=False):
        
    # convert to lower case
    #text = BeautifulSoup(text, "lxml").get_text()
    text = text.lower()
    
    # remove punctuation (preserving intra-word dashes)
    punct = string.punctuation.replace('-', '')
    text = ''.join(l for l in text if l not in punct)
    
    # strip extra white space
    text = re.sub(' +|\n+|\r+',' ',text)
    # strip leading and trailing white space
    text = text.strip()
    # tokenize (split based on whitespace)
    ### fill the gap ###
    tokens = text.split()
    
    if remove_stopwords:
        stpwds = stopwords.words('french')
        # remove stopwords
        tokens = [t for t in tokens if t not in stpwds]
        
    if stemming:
        #stemming words
        stemmed_tokens = [] #declare an empty list to hold our stemmed words
        stemmer = FrenchStemmer() #create a stemmer object in the FrenchStemmer class
        for token in tokens:
            stemmed_token=stemmer.stem(token) #stem the word
            stemmed_tokens.append(stemmed_token) #add it to our stemmed word list
        #stemmed_tokens.sort() #sort the stemmed_words
        tokens = stemmed_tokens
        
    if pos_tagging == True:
        # apply POS-tagging
        tagged_tokens = pos_tag(tokens)
        # retain only nouns and adjectives
        tokens_keep = []
        for i in range(len(tagged_tokens)):
            item = tagged_tokens[i]
            if (
            item[1] == 'NN' or
            item[1] == 'NNS' or
            item[1] == 'NNP' or
            item[1] == 'NNPS' or
            item[1] == 'JJ' or
            item[1] == 'JJS' or
            item[1] == 'JJR' or
            item[1] == 'CD'
            ):
                tokens_keep.append(item[0])
        tokens = tokens_keep
    
    return(tokens)

In [23]:
def vectorize_tfidf(df,col,prefix,vectorizer,train_or_test):
    if train_or_test == 'train':
        vect = vectorizer.fit_transform(list(df[col]))
    else:
        vect = vectorizer.transform(list(df[col]))
        
    tfidf_cols= list(map(lambda x: prefix+'_'+x, vectorizer.get_feature_names()))
    tfidf = pd.DataFrame(vect.toarray(), columns=tfidf_cols)
    df_tfidf = pd.concat([df, tfidf], axis=1)
    return df_tfidf

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer

# min_df is minimum number of documents that contain a term t
# max_features is maximum number of unique tokens (across documents) that we'd consider
# TfidfVectorizer preprocesses the descriptions using the tokenizer we defined above

vectorizer = TfidfVectorizer(min_df=10, 
                             max_features=200, 
                             tokenizer=tokenizer, 
                             ngram_range=(1, 2))


vectorizer2 = TfidfVectorizer(min_df=10, 
                             max_features=200, 
                             tokenizer=tokenizer, 
                             ngram_range=(1, 2))